<% content_for :body_content_left do %>
  <%= raw @page[:body] %>
  <table class="download full">
    <tr>
      <th><%= t('.filename') %></th>
      <th><%= t('.filesize') %></th>
      <th><%= t('.filetype') %></th> 
    </tr>
    <% @downloads.each do |download| %>  
    <tr <%= filelink(download) %>>
      <td><%= download.title %></td>
      <td><%= number_to_human_size(download.file.file_size) %></td>
      <td><%= link_to fileicon(download), download.file.url, :target => '_blank' %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<%= render :partial => "/shared/content_page" %>
