<% content_for :body_content_title do %>
  <%= @download.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @download.title %>
    </p>
  </section>
  <section>
    <h1>File</h1>
    <p>
      <%= link_to 'file', @download.file.url %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="downloads">
      <% @downloads.each do |download| %>
        <li>
          <%= link_to download.title, download_url(download) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
