<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(file) -%>">
  <span class='title'>
    <%= file.download_category.title %> - <strong><%= file.title %></strong>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_download_file_path(file),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_download_file_path(file),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => file.title),
        :method => :delete %>
  </span>
</li>
