<%= form_for [:admin, @download_file] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => f.object,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :file -%>
    <%= render :partial => "/shared/admin/resource_picker", :locals => {
          :f => f,
          :field => :file_id,
          :resource => @download_file.file,
        } %>
  </div>
  
  <div class="field">
    <%= f.label :download_category_id, t('.categorytitle') %>
    <%= f.collection_select :download_category_id, DownloadCategory.all, :id, :title %>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.downloads.download'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @download_file.title)
              } %>
<% end -%>
